.cta {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/background-2.jpg");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 25rem;
    display: grid;
    place-items: center;
}

.cta form {
    background: transparent;
    display: grid;
    margin-top: -10rem;
}

.cta form input {
    background: transparent;
}